
.parallax {
  /* The image used */
  background-image: url(../image/images_the_district/fond.jpg);

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.zoom {
    transition: transform 1s;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform:scale(1.1);
 
}
